

<ion-content [fullscreen]="true" class="plano_de_fundo">
  <ion-row size="6" class="full-height">
    <input type="text" class="tamanho">
  </ion-row>

  <ion-row size="6"> 
    <ion-col size="12">
      <ion-row>
        <ion-col>
          <ion-button expand="full" color="medium" shape="round"(click)="exibir(1)"> C </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full"  color="medium" shape="round"(click)="exibir(1)"> +/- </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full" color="medium" shape="round"(click)="exibir(1)"> % </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full" color="warning" shape="round"(click)="exibir(1)"> / </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button expand="full" color="dark" shape="round"(click)="exibir(7)"> 7 </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full" color="dark" shape="round"(click)="exibir(8)"> 8 </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full" color="dark" shape="round"(click)="exibir(9)"> 9 </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full" color="warning" shape="round"(click)="exibir(1)"> x </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button expand="full" color="dark" shape="round"(click)="exibir(4)"> 4 </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full" color="dark" shape="round"(click)="exibir(5)"> 5 </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full" color="dark" shape="round"(click)="exibir(6)"> 6 </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full" color="warning" shape="round"(click)="exibir(1)"> - </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-button expand="full" color="dark" shape="round"(click)="exibir(1)"> 1 </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full" color="dark" shape="round"(click)="exibir(2)"> 2 </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full" color="dark" shape="round"(click)="exibir(3)"> 3 </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full" color="warning" shape="round"(click)="exibir(1)"> + </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-button expand="full" color="dark" shape="round"(click)="exibir(0)"> 0 </ion-button>
        </ion-col>
        <ion-col>
          <ion-button  expand="full"color="dark" shape="round"(click)="exibir(1)"> , </ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="full" color="warning" shape="round"(click)="exibir(1)"> = </ion-button>
        </ion-col>
      </ion-row>

      
    </ion-col>
  </ion-row>
</ion-content>

