<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Etec
    </ion-title>
  </ion-toolbar> 
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col size="6">
      <img src="https://images.pexels.com/photos/57722/hot-air-balloon-hot-air-balloon-ride-57722.jpeg?auto=compress&cs=tinysrgb&w=1600" alt="">
    </ion-col>
    
    <ion-col size="6" class="form" >
      
        <ion-row>
          <ion-col size="12" class="ion-text-center">
            <h1>Criar Conta</h1>

          </ion-col>
        </ion-row>
        
       <ion-row class="ion-justify-content-center">
        <ion-col size="6" class="ion-text-center">
          <ion-item>
            <ion-input label="Nome" placeholder=""></ion-input>
          </ion-item>
        
          <ion-item>
            <ion-input label="E-mail" type="email" placeholder=""></ion-input>
          </ion-item>
      
          <ion-item>
            <ion-input label="Senha" type="password" value="password"></ion-input>
          </ion-item>
  
          <ion-item>
            <ion-input label="Confirmar Senha" type="password" value="password"></ion-input>
          </ion-item>
        </ion-col>
       </ion-row>


      <ion-row>
        <ion-col size="12" class="criar ion-text-center">
          <ion-button color="success">Criar Conta</ion-button>
        </ion-col>
      </ion-row>
      

      <ion-col>
        <ion-row>
          <ion-col size="12" class="ion-text-center">
            <p>Login com</p>
          </ion-col> 
        </ion-row>

        <ion-row> 
          <ion-col size="12" class="ion-text-center">
            <ion-button color="primary">facebook</ion-button>
          </ion-col> 
        </ion-row>

        <ion-row>
          <ion-col size="12" class="ion-text-center">
            <ion-button color="secondary">twitter</ion-button>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12" class="ion-text-center">
            <ion-button color="danger">google</ion-button>
          </ion-col>
        </ion-row>
      </ion-col>


    </ion-col>
  </ion-row>

  
</ion-content>
