// * {
//   outline: 1px solid lightblue;
// }

.perfil_foto img{
  height: 300px;
}

.metrica-social{
  margin-top: 20px;
}

.sobre{
  margin-left: auto;
  margin-right: auto;
}
.postagem_imagem{
  width: 300px;
  
}

.nome_perfil{
  margin-left: 15px;
}

h4 {
  display: flex;
  justify-content: center;
}
h5 {
  display: flex;
  justify-content: center;
}
.superior{
  justify-content: space-between;
}